.App2{
    text-align: center;
  }
  
  .form-control{
    width: 50% !important;
    margin-left: 30% ;
    text-align: center;
    
   
  }
  .card{
    width: 40% !important;
    margin-left:30% !important ;
    box-shadow: 5px 5px 15px lightslategrey ;
    padding:5px;
    border-radius: 10px;
  }
  .control{
    padding-left: 5px ;
  }
  .half{
    margin: 100px;
  }